{% extends 'generator/base.html' %}
{% block content %}
<h2>Hello! Welcome to the about page!</h2>
<div class="row">
    <div class="col"></div>
    <div class="col-6">
        <p>Hello! This is a random password generator. opps this is mistake. This has been created using django framework. You can choose 3 paramaters to create a random password. I am exited to create this project, as this is one of my earliest projects in django.</p>
        <p>And oh! I am Mir Abir Hossain. And I am a simple person trying to learn who to create beautiful and scalable websites.
        </p>
    </div>
    <div class="col"></div>
</div>
{% endblock %}